$NAME: "toolbar";

$sm: 24px;
$md: 40px;
$lg: 56px;

.#{$NAME} {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 0;

  min-height: $md;
  max-height: $md;

  &.is-small {
    min-height: $sm;
    max-height: $sm;
  }

  &.is-large {
    min-height: $lg;
    max-height: $lg;
  }
}
